@page "/"
@using Steamviewer.Entities.SteamModels
@using Steamviewer.Entities.SteamModels.AppDetails
@using Steamviewer.Entities.DTOs
@using Steamviewer.Components.Shared.GameCard
@using Steamviewer.Components.Shared.Header
@using Steamviewer.Components.Shared.Services
@using Steamviewer.Entities.ComponentModels;
@using Steamviewer.Entities.DTOs;
@inject AppStateService AppState
@inject Steamviewer.Services.Interfaces.IWishlistService WishlistService
@inject SteamService SteamService


<PageTitle>Steam</PageTitle>

<Header OnGameAdded="HandleGameAdded"/>

<div class="games-container">
    @foreach (var game in selectedGames)
    {
        <GameCard Game="game" OnCardClose="@(() => RemoveSelectedGame(game))" />
    }

    @foreach (var game in Games)
    {
        <GameCard Game="game" OnCardClose="@(() => RemoveGame(game))" />
    }
</div>

@code {
    private List<GameCardInfo> selectedGames = new();
    private List<GameCardInfo> Games = new();


    protected override async Task OnInitializedAsync()
    {
        AppState.OnSelectedWishlistChanged += HandleWishlistChanged; // Подписываемся на изменение
        await LoadSelectedWishlistGames();
    }

    private async void HandleWishlistChanged(int? wishlistId)
    {
        await LoadSelectedWishlistGames();
        StateHasChanged();
    }

    private async Task LoadSelectedWishlistGames()
    {
        if (AppState.SelectedWishlistId.HasValue)
        {
            var gameIds = await WishlistService.GetWishlistGamesAsync(AppState.SelectedWishlistId.Value);
            var loadedGames = new List<GameCardInfo>();

            foreach (var gameDto in gameIds)
            {
                try
                {
                    var gameItem = await SteamService.GetAppDataAsync(gameDto.SteamId);

                    Console.WriteLine(System.Text.Json.JsonSerializer.Serialize(gameItem));

                    loadedGames.Add(new GameCardInfo(gameItem, gameDto));
                }
                catch (ArgumentException ex)
                {
                    Console.WriteLine($"Ошибка:{ex}");
                }
            }

            selectedGames = loadedGames;
        }
        else
        {
            selectedGames.Clear();
        }
    }

    public void Dispose()
    {
        AppState.OnSelectedWishlistChanged -= HandleWishlistChanged; // Отписываемся
    }


    private async void HandleGameAdded(GameItem game)
    {
        if (!selectedGames.Any(g => g.SteamId == game.Id))
        {
            var gameData = await SteamService.GetAppDataAsync(game.Id);
            try
            {
                if (AppState.SelectedWishlistId.HasValue)
                {
                    GameDTO dTO = new GameDTO(game.Id, game.Id, "Введите собственную заметку об игре", 20);
                    await WishlistService.AddGameToWishlistAsync(
                        AppState.SelectedWishlistId.Value,
                        new GameDTO(game.Id, game.Id, "Введите собственную заметку об игре", 20));
                    selectedGames.Add(new GameCardInfo(gameData, dTO));

                }
            }
            catch (ArgumentException ex)
            {
                
            }
            StateHasChanged();
        }
    }

    private async void RemoveSelectedGame(GameCardInfo game)
    {
        selectedGames.Remove(game);

        if (AppState.SelectedWishlistId.HasValue)
        {
            await WishlistService.RemoveGameFromWishlistAsync(
                AppState.SelectedWishlistId.Value,
                game.DbId);
        }

        StateHasChanged();
    }

    private void RemoveGame(GameCardInfo game)
    {
        Games.Remove(game);
        StateHasChanged();
    }

}