@using Steamviewer.Entities.SteamModels.TopGame
@using Steamviewer.Components.Shared.Services
@inject SteamService SteamService

@if (Visible && topGames != null)
{
    <div class="top100-list">
        @foreach (var game in topGames)
        {
            <Steamviewer.Components.Shared.TopChip.TopChip Game="game" />
        }
    </div>
}
else if (Visible && topGames == null)
{
    <p class="loading-message">Loading top games...</p>
}

@code {
    [Parameter] public bool Visible { get; set; }

    public List<TopGame>? topGames;

    private bool isLoaded = false;

    protected override async Task OnParametersSetAsync()
    {
        if (Visible && !isLoaded)
        {
            topGames = (await SteamService.GetTop100Games()).ToList();
            isLoaded = true;
        }
    }
}
