@inherits LayoutComponentBase
@using Steamviewer.Components.Shared.SideMenu
@using Steamviewer.Components.Shared.Header
<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

<div class="main-grid">
    <!-- Боковое левое меню -->
    <div class="side-menu">
        <div class="header">
            <Logo />
        </div>
        <div class="friends">
            <Friends />
        </div>
        <div class="divider"></div>
        <div class="collection">
            <Collections />
            <div class="result">
                <span class="textTotal">
                    Итого:
                    <span class="strikethrough">0 руб.</span>
                    0 руб.
                </span>
            </div>
        </div>
    </div>

    <!-- Основной список игр -->
    <div class="base-interface">
        <div class="game-list">
            @Body
        </div>
    </div>
</div>

